h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
}

p {
    font-family: contentFont;
}

.details-event {
    background-image: url('../../../images/Display\ Background.png');
    background-size: 100% 100%;

    text-align: center;
    
    padding-top: 100px;
    padding-bottom: 250px;
}

.details-event h1 {
    font-size: 60px;
    color: white;
}

.details-event a:hover {
    text-decoration: none;
} 

.event-type {
    border-width: 4px;
    border-style: solid;
    border-color: white;

    padding-top: 10px;

    margin-top: 50px;
}

.event-type h3 {
    color: white;
}

.event-type:hover {
    border-color: #049b88;
}

.event-type:hover h3 {
    color: #049b88;
}
