h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
}

p {
    font-family: contentFont;
}

.content-title {
    text-align: right;
}

.content {
    margin-top: 50px; 
}

.content-text {
    text-align: left;
}

.content-border {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.content-image img {
    height: 100%;   
}

.content .carousel {
    height: 100%;
}

.content .carousel-inner {
    height: 100%;
}

.content .carousel-item {
    height: 100%;
}

.event-content {
    padding-bottom: 50px;
    margin-top: 120px;

    text-align: center;
}

.event-content h1 {
    font-size: 60px;
}

.top-content-border {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.bottom-content-border {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}