.header-container {
    position: absolute; 

    width: 100%;
    height: 720px;

    overflow-x: hidden;
    overflow-y: hidden;

    background-image: url('../../../images/adrian-226109-unsplash.jpg');
    background-size: 100% 100%;
}

.video-header {
    position: absolute; 

    width: auto;
    height: 100%;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.header-quote {
    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;
    z-index: 100px;

    transform: translate(-50%, -50%);
}

@font-face {
    font-family: quoteFont;
    src: url("../../../fonts/Watchword_bold_demo.otf")
}

.header-quote h1 {
    font-family: quoteFont;
    color: white;
}

.header-badge {
    width: 350px;
}

