@font-face {
    font-family: titleFont;
    src: url("../../fonts/Watchword_bold_demo.otf")
}

.event-summary-container {
    background-image: url("../../images/Global\ Map1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    margin-top: 720px;
    text-align: center;
}

.event-summary-text {
    position: relative;

    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.event-type {
    background: url("../../images/Background\ log.png") no-repeat center;
    background-size: 130px auto;
    
    min-height: 142.5px;
}

.event-type-image {
    width: auto;
    height: auto;
}

.event-type-image {
    display: block;
    margin: auto; 
}

.event-type-image img {
    z-index: 10;
}

h1 {
    font-family: titleFont;
}