
h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
}

p {
    font-family: contentFont;
}

.header-event-div {
    background-color: #f8f9fa;

    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 98px;
}

.header-event img {
    display: block;
    margin: auto;

    height: 100%;
    width: 100%;
}