h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
}

p {
    font-family: contentFont;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;

    margin-top: 98px;
}

.about h2 {
    color: #028889;
}

.about-video {
    padding: 0px;

    overflow: hidden;
}


.about-video video {
    width: 100%;
    min-width: 570px;
    height: auto;
}

.about-content {
    text-align: justify;
}

.organogram {
    text-align: center;

    padding-bottom: 50px;
}