.about {
    padding-top: 50px;
    padding-bottom: 50px;

    margin-top: 98px;
}

.about h2 {
    color: #028889;
}

.about-video {
    background-color: aqua;
}

.organogram {
    text-align: center;

    padding-bottom: 50px;
}