.navbar {
    text-align: center;
    padding-top: 10px;

    background-color: #363636; 
}

.logo {
    margin-left: 50px;
    height: 110px;
    width: auto;
}

.navbar-link:hover {
    text-decoration: none;
}

.navbar-link h1 {
    font-size: 19px;

    padding: 5px;

    color: white;

    border: solid 4px;
    border-color: red;
    border-radius: 20px; 

    min-width: 160px;

    margin-left: 15px;
}

.navbar-link:hover h1{
    border-color: blue; 
}

.dropdown-navbar-link {
    text-align: center;
}

.dropdown-menu {
    background-color: #363636;

    text-align: center;
}

.nav-link {
    padding-top: 0px;
}

.active h1 {
    color: green;
}

.dropdown-item:hover {
    background-color: #363636;
}


