h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
}

p {
    font-family: contentFont;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    height: 100px;
}

.navbar {
    text-align: center;

    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #363636; 
}

.logo {
    height: 80px;
    width: auto;
}

.navbar-link:hover {
    text-decoration: none;
}

.navbar-link h1 {
    font-size: 15px;

    padding: 5px;
    margin-left: 15px;
    margin-top: 25px;

    color: white;

    border: solid 4px;
    border-color: red;
    border-radius: 20px; 

    min-width: 130px;
}

.navbar-link:hover h1{
    border-color: #049b88;
}

.dropdown-navbar-link {
    text-align: center;
}

.dropdown-menu {
    background-color: #363636;

    text-align: center;
}

.nav-link {
    padding-top: 0px;
}

.navbar-dropdown h1 {
    margin-top: 0px;
}

.active h1 {
    color: #08bba6;
}

.dropdown-item:hover {
    background-color: #363636;
}


