.navbar {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;

    background-image: url('../../images/Orange Header.png');
    background-repeat: no-repeat;
    background-size: 100% 70%;

    height: 296px;
}

.navbar-link {
    margin: auto;
    padding-top: 130px;
}

.navbar-link h1 {
    font-size: 19px;
    font-family: 'Chub Gothic';
    background: -webkit-linear-gradient(#0066ff, #66ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
}

Image {
    margin-left: auto;
    margin-right: auto;
}