.submit-registration {
    margin-top: 120px;
}

.submitted-content {
    margin-top: 20px;
}

.submit-id {
    border: 5px solid;
    border-radius: 20px;

    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}