.event-summary-container {
    background-image: url("../../../images/Global\ Map1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    margin-top: 50px;
    text-align: center;
}

.event-summary-text {
    position: relative;

    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.event-type-image {
    background: url("../../../images/Background\ log.png") no-repeat center;
    background-size: 130px auto;
    
    min-height: 142.5px;
}

.event-type-image img {
    padding-top: 50px;
}

.right img{
    padding-left: 10px;
}
