.further-inquiries-container {
    background-image: url("../../../images/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    text-align: center;

    padding-top: 50px;
    padding-bottom: 30px;
}

@font-face {
    font-family: titleFont;
    src: url("../../../fonts/Watchword_bold_demo.otf")
}

.further-inquiries-title h1 {
    color: white;

    margin-bottom: 3px;
}

.further-inquiries-title p {
    color: white;

    margin-bottom: 3px;
}

Label h3{
    text-align: left;
    color: orangered;
}

.fi-button {
    font-family: titleFont;
    background-color: orangered;
    border-radius: 12px;

    margin-top: 20px;
}
