.footer-container {
    background-image: url('../../images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding-top: 80px;
}

.footer-logo {
    height: 180px;
    width: auto;

    display: block;

    margin-left: auto;
    margin-right: auto; 
}

.footer-socmed {
    margin-top: 10px;
}

.footer-socmed img{
    display: block;
    margin: auto;
}

.footer-content h2{
    color: white;
}

.footer-content p {
    color: white
}

.footer-copyright {
    margin-top: 50px; 

    bottom: 0px;

    text-align: center;
    color: white;
}