@font-face {
    font-family: contentFont;
    src: url('./fonts/Fundamental\ Brigade\ Schlank.ttf');
}

@font-face {
    font-family: titleFont;
    src: url('./fonts/Watchword_bold_demo.otf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
}

p {
    font-family: contentFont;
}

.title {
    margin-top: 120px;
    margin-bottom: 30px;

    text-align: center;
}

.grey {
    color: #444444;
}