h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
}

p {
    font-family: contentFont;
}

.registration-rules {
    padding-top: 20px;
    padding-bottom: 20px;
}

.registration-title {
    text-align: center;
}

.registration-title p {
    letter-spacing: 1px;
    font-size: 20px;

    border: solid 3px;
    border-radius: 10px;

    padding: 6px;
    
    margin-bottom: 10px;
}

.registration-title p:hover {
    border-color: gray;

    cursor: pointer;
}

.registration-content {
    border: solid 3px;
    border-radius: 10px;

    margin-bottom: 10px;
    padding: 20px;
}

.registration-content h2 {
    border-bottom: solid 3px;
}

.list-notab {
    padding-left: 20px;
}

.no-bullet {
    list-style: none;

    padding-left: 30px;
}

.registration-button a:hover {
    text-decoration: none;
}

.registration-button h4 {
    margin-bottom: 0px;
    color: white;
}

.registration-button-red {
    background-color: #bd2b21;
    text-align: center;

    border-radius: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.registration-button-blue {
    background-color: #028889;
    text-align: center;

    border-radius: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.dresscode {
    padding: 10px;
}

.dresscode img {
    margin-bottom: 20px;
}

.dresscode .content {
    margin-top: 0px;
    margin-bottom: 20px;
}

.dresscode .content p {
    font-size: 20px;
}