@font-face {
    font-family: titleFont;
    src: url("../../../fonts/Watchword_bold_demo.otf")
}

h1, h2 {
    font-family: titleFont;
}

p {
    margin-bottom: 0;
}

.news-container {
    background: url('../../../images/background\ news.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.news-content-container {
    z-index: 3;
}