h1, h2, h3, h4, h5, h6 {
    font-family: titleFont;
}

p {
    font-family: contentFont;
}

p {
    margin-bottom: 0;
}

.news-container {
    background: url('../../../images/background\ news.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.news-content-container {
    z-index: 3;
}